<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] [%-5level] [%-36logger{36}] %msg%n</pattern>
<!--            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] [%-5level] [%-36logger{36}] %replace(%msg){'(\r*\n)', '\\n'} %replace(%ex{full}){'(\r*\n)', '\\n'}%n</pattern>-->
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] [%-5level] [%-36logger{36}] %msg%n</pattern>
<!--            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%thread] [%-5level] [%-36logger{36}] %replace(%msg){'(\r*\n)', '\\n'} %replace(%ex{full}){'(\r*\n)', '\\n'}%n</pattern>-->
        </encoder>
    </appender>

    <root level="${KSML_LOGLEVEL_ROOT:-INFO}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>

    <!-- KSML Specific logging -->
    <logger name="io.axual.ksml" level="${KSML_LOGLEVEL_KSML:-INFO}"/>
    <logger name="io.axual.ksml.runner" level="${KSML_LOGLEVEL_KSML_RUNNER:-INFO}"/>
    <logger name="io.axual.ksml.datagenerator" level="${KSML_LOGLEVEL_KSML_DATAGEN:-WARN}"/>
    <logger name="io.axual.ksml.python" level="${KSML_LOGLEVEL_KSML_PYTHON:-WARN}"/>
    <logger name="io.axual.ksml.client" level="${KSML_LOGLEVEL_KSML_CLIENT:-WARN}"/>
    <logger name="io.axual.ksml.serde" level="${KSML_LOGLEVEL_KSML_SERDE:-WARN}"/>
    <logger name="io.axual.ksml.store" level="${KSML_LOGLEVEL_KSML_STORE:-WARN}"/>

    <!-- Kafka/Kafka Streams loggers    -->
    <logger name="org.apache.kafka.streams" level="${KSML_LOGLEVEL_KAFKA_STREAMS:-WARN}"/>
    <logger name="org.apache.kafka" level="${KSML_LOGLEVEL_KAFKA:-WARN}"/>
    <logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="${KSML_LOGLEVEL_KAFKA_CONFIG_CONSUMER:-ERROR}"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="${KSML_LOGLEVEL_KAFKA_CONFIG_PRODUCER:-ERROR}"/>
    <logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="${KSML_LOGLEVEL_KAFKA_CONFIG_ADMIN:-ERROR}"/>
    <logger name="org.apache.kafka.streams.StreamsConfig" level="${KSML_LOGLEVEL_KAFKA_STREAMS_CONFIG_CONSUMER:-ERROR}"/>

    <!-- Serde specific logging -->
    <logger name="io.confluent" level="${KSML_LOGLEVEL_CONFLUENT_SR:-WARN}"/>
</configuration>
